@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');

.hero__img {
  background-image: #0e152b;
  opacity: 0.25;
}
.hero__tittle {
  font-family: 'Markazi Text', bold;
  font-size: 8vw;
  padding: 10% 15% 0% 15%;
  margin: 0 auto;
  display: grid;
  text-align: center;
}

.hero__text {
  font-family: 'Markazi Text', bold;
  font-size: 4vw;
  text-align: center;
}

.hero__button {
  margin: 0 auto;
}

.link__button {
  text-decoration: none;
}
